<% name = match['restaurantname'] %>
<% street = match['Street'] %>
<% city = match['City'] %>
<% state = match['State'] %>
<% score = match['currentscore'] %>
<% grade = match['currentgrade'] %>
<div class = "restaurant">
	<div class = "details">
		<div class = "name">
		<%= name %>
		</div>
		<div class = "street">
		<%= street %>
		</div>
		<div class = "state">
		<%= city %>
		</div>
		<div class = "score">
		<%= score %>
		</div>
		<div class = "grade">
		<%= grade %>
		</div>
	</div>
</div>